@font-face {
    font-family: 'copernicus_heavy';
    src: url('../src/fonts/font-kit/Copernicus-Heavy.eot');
    src: url('../src/fonts/font-kit/Copernicus-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../src/fonts/font-kit/Copernicus-Heavy.woff') format('woff'),
         url('../src/fonts/font-kit/Copernicus-Heavy.svg#copernicus_heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}